# fly.toml app configuration file generated for hyre-worker-nestjs on 2026-01-03T09:48:37Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'hyre-worker-nestjs'
primary_region = 'lhr'

[build]

[deploy]
  release_command = 'npx prisma migrate deploy'

[env]
  TZ = 'Africa/Lagos'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
